body {
	margin: 0px;
	font-family: droid sans mono;
	background-color: #000;
	overflow: hidden;
}

a {
	color: #fff;
}

#column {
	width: 400px;
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em;
	color: #999;
}

#column p span:first-child {
	color: #fff;
	font-variant: small-caps;
	font-size: 18px;
}
